# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

pnpm-lock.yaml
yarn.lock

# scripting for questions generation
*.py
.yarn/install-state.gz
.yarn/